<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite">
	<listeners>
		<listener class-name= "Utililies.TestListenersClass"></listener>
	</listeners>
	<parameter name="browserName" value="firefox" />
	<test thread-count="5" name="LoginPageTest">
		<classes>
			<class name="com.testClasses.testLoginPage" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->